<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

<div class="container">
  <!-- Mensajes Flash -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="flash-message">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <header class="header">
    <img src="../static/logo_TB_positivo-01.jpg" alt="Logo" class="logo">
    <h1 class="main-title">Configura tu servicio</h1>
  </header>
  
  
  <form id="serviceForm" method="post">
    <input type="text" name="username" placeholder="Tu nombre" required><br>
    <!-- Dentro de tu <form> en el archivo index.html -->
    <div class="service-option">
       <div class="description">
          <div class="title">Talleres Mensuales</div>
          <div class="detail">Talleres mensuales con profesionales top de la industria que mostrarán de manera práctica casos de uso relacionados con el curso y en diferentes sectores. Estos talleres tienen como objetivo que entiendas como incorporar la tecnología al día a día del negocio, e inspirarte a incorporarlo</div>
      </div>
      <div class="selection">
          <input type="checkbox" name="service" value="40" id="option1">
          <label for="option1" class="price-tag">40€</label>
      </div>
   </div>

   <div class="service-option">
    <div class="description">
       <div class="title">Seguimiento de Certificaciones</div>
       <div class="detail">Te damos soporte en la preparación de certificaciones asociadas al curso. Te proporcionamos materiales, examenes de práctica y consejos prácticos para que consigas las certificaciones que te diferenciarán en el mercado laboral.</div>
   </div>
   <div class="selection">
       <input type="checkbox" name="service" value="40" id="option1">
       <label for="option1" class="price-tag">40€</label>
   </div>
</div>

<div class="service-option">
  <div class="description">
     <div class="title">Eventos Networking</div>
     <div class="detail">Eventos mensuales orientado a compartir expriencias con compañeros de los cursos de The Bridge, y expertos de la industria. En u ambiente distendido podrás tener acceso y crear una red de profesioales de primer nivel en multiples sectores</div>
 </div>
 <div class="selection">
     <input type="checkbox" name="service" value="20" id="option1">
     <label for="option1" class="price-tag">20€</label>
 </div>
</div>

<div class="service-option">
  <div class="description">
     <div class="title">Mentoría presonalizada</div>
     <div class="detail">Ten acceso a profesionales del claustro de The Bridge para solucionar problemas de tu día a día, compartir necesidades y obtener apoyo profesional individualizado para poner en marcha en tu día a día los aprendizajes obtenidos durante tu formación</div>
 </div>
 <div class="selection">
     <input type="checkbox" name="service" value="75" id="option1">
     <label for="option1" class="price-tag">75€</label>
 </div>
</div>



    <div class="total">
      <span class="total-label">Gran Total</span>
      <span class="total-amount" id="totalSum">0€</span>
      <input type="hidden" name="total" id="totalInput">

    </div>
    <div class="button-container">
      <button type="submit">Guardar</button>
   </div>
  </form>
  <!-- Otros elementos de tu formulario -->




</div>

</body>
</html>
